
#nav .current {
background-color:#DCE7EB;
}


#nav li {margin-bottom:2px;}

#nav .showall {font-weight:bold; margin-bottom:4px;}

#nav .list .column p {display:inline;}

div.block_menu_site_and_course ul,
div.block_menu_site_and_course li {clear:both;}
div.block_menu_site_and_course .content ul.list li div.c1 {display:inline-block; width:166px; margin-left:2px; vertical-align:top;}

div.block_menu_site_and_course li span.unavailable {color:#999;}

div.block_menu_site_and_course li.yui3-dd-drop div.icon {cursor:move;}